@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="articles">
    @if (Model.Headlines != null)
    {
        @foreach (var article in Model.Headlines)
        {
            <div class="article">
                <div class="article-image">
                    <img src="@article.UrlToImage" alt="@article.Title" />
                </div>
                <div class="article-content">
                    <h2>@article.Title</h2>
                    <p>@article.Description</p>
                    <a href="@article.Url" target="_blank" rel="noopener noreferrer">Read more</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>Failed to retrieve headlines.</p>
    }
</div>